name: remote ssh command
on:
    push:
        branches:
            - main
jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3
            - name: Login to Docker Hub
              uses: docker/login-action@v2
              with:
                  username: ${{ secrets.DOCKER_USER }}
                  password: ${{ secrets.DOCKER_TOKEN }}
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2
            - name: Build and push
              uses: docker/build-push-action@v3
              with:
                  context: .
                  file: ./Dockerfile
                  push: true
                  tags: ${{ secrets.DOCKER_USER }}/${{ github.event.repository.name }}:latest
    deploy:
        name: Deploy 
        needs: build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            # Copy only the docker-compose.yml to remote server home folder
            - name: copy files to target server via scp
              uses: appleboy/scp-action@v0.1.3
              with:
                host: ${{ secrets.HOST }}
                username: ${{ secrets.USERNAME }}
                key: ${{ secrets.KEY }}
                port: ${{ secrets.PORT }}
                rm: true
                source: "docker-compose.yaml"
                target: "~/.deploy/${{ github.event.repository.name }}/"
            - name: executing remote ssh commands using password
              uses: appleboy/ssh-action@v0.1.7
              with:
                  host: ${{ secrets.HOST }}
                  username: ${{ secrets.USERNAME }}
                  key: ${{ secrets.KEY }}
                  port: ${{ secrets.PORT }}
                  script: |
                      export TTK_DOCKER_USER=${{ secrets.DOCKER_USER }}
                      export TTK_PROJECT_NAME=${{ github.event.repository.name }}
                      cd ~/.deploy/${{ github.event.repository.name }} 
                      ls -al
                      docker compose up -d
